@model ContatoModel
@{
    ViewData["Title"] = "Confirmaçao de apagar o contato";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato @Model.nome ?</h3>
</div>
<div class="text-center">
<a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.id">Confirmar</a>
</div>